version: "3.8"

services:
  nominatim:
    image: mediagis/nominatim:5.2
    container_name: geocoder-nominatim
    ports:
      - "8080:8080"
    environment:
      - PBF_URL=${PBF_URL}
      - PBF_PATH=${PBF_PATH}
      - REPLICATION_URL=${REPLICATION_URL}
      - NOMINATIM_THREADS=${NOMINATIM_THREADS:-4}
    volumes:
      - nominatim-data:/var/lib/postgresql/14/main
      - nominatim-flatnode:/var/lib/nominatim/flatnode
      - ./import:/nominatim-import
    shm_size: "1g"
    restart: unless-stopped

volumes:
  nominatim-data:
  nominatim-flatnode:
